#footer {
    background-color: var(--body-color2);
    padding: 20px;
}

#footer #links {
    display: flex;
    align-items: center;
}

#footer #links a {
    color: var(--font-color);
    text-decoration: none;
    margin: 10px 10px 10px 0px;
}

#footer p {
    color: #666;
    font-size: 0.8em;
}