#footer {
    background-color: var(--fontcolor);
    color: var(--bgcolor);
    padding: 15px;
}

#footer p, #footer a {
    font-size: 18px;
}

#footer #links {
    display: flex;
    flex-wrap: wrap;
}

#footer #links a {
    margin: 16px;
    margin-top: 5px;
    color: var(--bgcolor);
    text-decoration: none;
}

#footer #links a:hover {
    text-decoration: underline;
}