.flex_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    border-radius: 13px;
    background: #e0e0e0;
    box-shadow:  25px 25px 50px #cacaca,
                 -25px -25px 50px #f6f6f6;
    width: 350px;
    margin-top: 41px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 18px;
    color: var(--fontcolor);
    text-align: center;
}

.box i {
    margin-top: 20px;
    margin-bottom: 20px;
}

.big_box {
    border-radius: 13px;
    background: #e0e0e0;
    box-shadow:  25px 25px 50px #cacaca,
                 -25px -25px 50px #f6f6f6;
    width: 93%;
    margin-top: 41px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 18px;
    color: var(--fontcolor);
}

.big_box h1, .big_box h2, .big_box h3 {
    text-align: center;
}

.big_box i {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img_rounded {
    border-radius: 15px;
}